@import "../../config.scss";

.nav {
    position: fixed;
    bottom: 0px;
    left: 30px;
    .accordion {
        width: 350px;
        .card-header {
            background-color: $primary;
        }
        .card-body {
            background-color: $primary;
        }
    }
}
@media (max-width: $sm) {
    .nav {
        left: 0;
        right: 0;
        .accordion {
            width: 100%;
        }
    }
}
